body{
  background-color: #D6EAF8 ;
  font-family:Arial;
  margin:10% 20%;
}

.header {
  text-align: center;
  text-transform: Uppercase;
  border-top:2px solid #D35400;
  border-bottom:2px solid #D35400;
   
}

.sec-header {
  border: solid 1px #D35400;
  text-transform: uppercase;
  padding-left:10px; 
  margin-top:15px;
  margin-left:-15;
}
.info-header {
  font-family: Garamond, serif;
}

h4{
 margin-top:15px;
 margin-bottom:5px;
}

h5{
 margin-top:5px;
 margin-bottom:5px; 
}

h6{
 margin-top:5px;
 margin-bottom:15px; 
}
